# Extension Write Data

> This notebook is used to collect more data for analysis on employment rate. This notebook simply formats the employment rate data for visualization and analysis in future notebooks

In [94]:
import pandas as pd
import numpy as np
from collections import defaultdict

## Functions 

> Reusable function to be used to filter down metropolitan, state, and ... other various levels if necessary.

In [182]:
## Functions ##
def retrieve_and_format_data(granularity):
    if not granularity:
        raise("Please pass in a type arg in ['metropolitan', 'state']")
    if granularity not in ['metropolitan', 'state']:
        raise("Please pass in a type arg in ['metropolitan', 'state']")
    
    loc = ''
    
    if granularity == 'metropolitan':
        loc = 'data/extension_data/metropolitan_unemployment_statistics_vegas_henderson_paradise.xlsx'
    else:
        loc = 'data/extension_data/state_wide_non_seasonally_adjusted.xlsx'
        
    df = pd.read_excel(loc, skiprows=[1,2,3,4,5,6,7,8,9], header=1)
    
    if granularity == 'metropolitan':
        df = df.rename(columns={'Year':'year', 
                                'Period': 'period', 
                                'labor force': 'metro_labor_force', 
                                'employment':'metro_employment',
                                'unemployment': 'metro_unemployment',
                                'unemployment rate': 'metro_unemployment_rate'
                               })
    else:
        df = df.rename(columns={'Year': 'year',
                                'Period': 'period',
                                'civilian noninstitutional population' : 'state_civilian_noninstitutional_population',
                                'labor force participation rate' : 'state_labor_force_participation_rate',
                                'employment-population ratio' : 'state_employment_population_ratio',
                                'labor force' : 'state_labor_force',
                                'employment': 'state_employment',
                                'unemployment': 'state_unemployment',
                                'unemployment rate': 'state_unemployment_rate'
                               })
    return df

## Collect the Data
> Retrieve and format the data that we need from the data sources. Pulled from data/produced-data

In [175]:
metro_df = retrieve_and_format_data('metropolitan')
state_df = retrieve_and_format_data('state')

/Users/bon/opt/miniconda3/envs/data-512/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/bon/opt/miniconda3/envs/data-512/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Merge 

> Merging step of state and metropolitan data into one data frame. This is saved as a csv for future analysis in next notebook.

In [178]:
combined_df = metro_df.merge(state_df, on=['year', 'period'])

,year,period,metro_labor_force,metro_employment,metro_unemployment,metro_unemployment_rate,state_civilian_noninstitutional_population,state_labor_force_participation_rate,state_employment_population_ratio,state_labor_force,state_employment,state_unemployment,state_unemployment_rate
0,2012,Jan,984093,860696,123397,12.5,2108162,64.1,56.1,1352031,1182062,169969,12.6
1,2012,Feb,992941,871300,121641,12.3,2110764,64.7,56.7,1365251,1197510,167741,12.3
2,2012,Mar,990857,871710,119147,12.0,2113359,64.5,56.7,1362237,1198222,164015,12.0
3,2012,Apr,988676,873128,115548,11.7,2116001,64.2,56.7,1357994,1199412,158582,11.7
4,2012,May,996028,879561,116467,11.7,2118612,64.6,57.1,1369670,1210331,159339,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,2022,May,1121001,1062311,58690,5.2,2522120,60.6,57.8,1527639,1456533,71106,4.7
125,2022,Jun,1122290,1058380,63910,5.7,2525444,60.5,57.4,1527116,1448948,78168,5.1
126,2022,Jul,1133617,1070630,62987,5.6,2529021,60.8,57.8,1537499,1460669,76830,5.0
127,2022,Aug,1155735,1089349,66386,5.7,2532641,61.9,58.7,1567301,1485648,81653,5.2
128,2022,Sep,1156484,1095086,61398,5.3,2536170,61.9,59.0,1570738,1495717,75021,4.8

In [181]:
combined_df.to_csv('data/produced_data/combined_metro_state_data.csv', index=False)